:root {
  --primary: #1b4f80;
  --primary2: #2e9bff;
  --bg-color: #fbf3ff;
  --bg2: #ffffff;
  --bg3: #f0f0f0;
  --hover-primary: #567aa0;
  --hover-primary2: #b2d8ff;
  --text-basic: #464646;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: #e6eef5;
}
/* navbar*/
.navbar {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: #ffffff;
  position: fixed;
}
.scrolled {
  box-shadow: 1px 1px 6px rgba(1, 1, 1, 0.4);
}
.navbar .navbar-container {
  width: 75%;
  margin: auto;
  display: flex;
  padding: 5px 0;
  justify-content: space-between;
}
.navbar .navbar-container .menu-bar a .logo {
  width: 170px;
}
.navbar .navbar-container .menu-bar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.navbar .navbar-container .menu-bar ul {
  list-style: none;
  display: flex;
  column-gap: 30px;
}
.navbar .navbar-container .menu-bar ul li {
  padding: 10px 0;
  position: relative;
}
.navbar .navbar-container .menu-bar ul li a {
  font-size: 14px;
  color: var(--primary);
  text-decoration: none;
  transition: all 0.3s;
}

.navbar .navbar-container .menu-bar ul li a:hover {
  color: var(--hover-primary2);
}
.fas {
  float: right;
  margin-left: 5px;
  padding-top: 3px;
}
.dropdown-menu {
  display: none;
}
.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 10px #00000026;
}
.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}
.navbar .navbar-container .navbar-extra {
  padding: 15px 0;
  display: none;
}
.navbar .navbar-container .navbar-extra #hamburger-menu {
  color: var(--primary);
  display: none;
}
/* form */
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: #fff;
  cursor: pointer;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #464646;
}

.row button {
  background-color: var(--primary);
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

.row button:hover {
  background-color: var(--hover-primary);
}
.form {
  width: 100%;
  margin-top: 100px;
}
.container {
  border-radius: 5px;
  background-color: #fff;
  padding: 30px;
  width: 55%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.judul h3 {
  font-size: 22px;
  font-weight: 550;
  color: var(--primary);
  padding-bottom: 20px;
}
.judul h3 span {
  color: var(--primary2);
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
/*footer*/
footer {
  width: 100%;
  margin-top: 60px;
  background-color: #f0f0f0;
  padding-top: 50px;
  padding-bottom: 30px;
}
footer .footer-container {
  width: 75%;
  margin: auto;
}
footer .footer-container .footer-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 20px;
}
footer .footer-container .footer-box .footer-office {
  width: 40%;
}
footer .footer-container .footer-box .footer-office .footer-img {
  width: 170px;
}
footer .footer-container .footer-box .footer-office .footer-img img {
  width: 100%;
}
footer .footer-container .footer-box .footer-office .office-addres {
}
footer .footer-container .footer-box .footer-office .office-addres h3 {
  color: var(--primary);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 18px;
  padding-top: 10px;
}
footer .footer-container .footer-box .footer-office .office-addres p {
  color: #555;
  font-size: 14px;
}
footer .footer-container .footer-box .footer-office .office-addres p i {
  color: var(--primary);
}
footer .footer-container .footer-box .footer-office .office-sosmed {
  list-style: none;
  column-gap: 10px;
  display: flex;
}
footer .footer-container .footer-box .footer-office .office-sosmed i {
  color: var(--primary);
  padding-top: 15px;
}
footer .footer-container .footer-box .footer-office .office-sosmed i:hover {
  color: var(--primary2);
}
footer .footer-container .footer-box .footer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 40px;
}
footer .footer-container .footer-box .footer-list .footer-support {
}
footer .footer-container .footer-box .footer-list .footer-support h3 {
  color: var(--primary);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 18px;
}
footer .footer-container .footer-box .footer-list .footer-support li {
  list-style: none;
  padding: 5px 0;
}
footer .footer-container .footer-box .footer-list .footer-support li a {
  color: #555;
  font-size: 14px;
}
footer .footer-container .footer-box .footer-list .footer-support li a:hover {
  color: var(--primary);
}
footer .footer-container .footer-box .footer-list .footer-program h3 {
  color: var(--primary);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 18px;
}
footer .footer-container .footer-box .footer-list .footer-program li {
  list-style: none;
  padding: 5px 0;
}
footer .footer-container .footer-box .footer-list .footer-program li a {
  color: #555;
  font-size: 14px;
}
footer .footer-container .footer-box .footer-list .footer-program li a:hover {
  color: var(--primary);
}
footer .footer-container .footer-box .footer-list .footer-contact h3 {
  color: var(--primary);
  font-weight: 600;
  padding-bottom: 10px;
  font-size: 18px;
}
footer .footer-container .footer-box .footer-list .footer-contact li {
  list-style: none;
  padding: 5px 0;
}
footer .footer-container .footer-box .footer-list .footer-contact li a {
  color: #555;
  font-size: 14px;
}
footer .footer-container .footer-box .footer-list .footer-contact li a i {
  color: var(--primary);
}
footer .footer-container .footer-box .footer-list .footer-contact li a:hover {
  color: var(--primary);
}
.copyright {
  text-align: center;
  font-size: 14px;
  padding: 10px 100px 5px;
  background-color: #f0f0f0;
  border-top: 2px solid #e2e2e2;
  color: #555;
}@media (max-width: 1020px) {
  /* navbar */
  .navbar .navbar-container .navbar-extra #hamburger-menu {
    display: block;
  }
  .navbar .navbar-container .menu-bar .navbar-nav {
    position: absolute;
    top: 70px;
    left: -100%;
    background-color: var(--primary);
    width: 100%;
    height: max-content;
    display: block;
    padding: 25px;
  }
  .navbar .navbar-container .menu-bar .navbar-nav.active {
    left: 0;
  }
  .navbar .navbar-container .menu-bar .navbar-nav li {
    padding: 10px 0;
  }
  .navbar .navbar-container .menu-bar .navbar-nav li a,
  button {
    font-size: 14px;
    text-align: left;
    color: #fff;
  }
  .navbar .navbar-container .menu-bar .navbar-nav li a:hover {
    color: #b2cde7;
  }
  .navbar .navbar-container .menu-bar .navbar-nav li a:after {
    transform-origin: 0 0;
  }
  .navbar .navbar-container .menu-bar .navbar-nav li a:hover::after {
    transform: scaleX(0.2);
  }
  .menu-bar ul li .dropdown-menu {
    position: relative;
    background: none;
    box-shadow: none;
    width: 100%;
  }
  .menu-bar ul li .dropdown-menu ul {
    margin: 0px 15px;
  }
  .menu-bar ul li .dropdown-menu ul li {
    padding: 5px 0;
  }
  .navbar
    .navbar-container
    .menu-bar
    .navbar-nav
    li.programgta
    .dropdown-menu
    ul
    li
    a {
    color: #ffffff;
  }
}
@media (max-width: 992px) {
  /* navbar */
  .navbar .navbar-container {
    width: 85%;
  }
}
/* tablet */
@media (max-width: 768px) {
  /* navbar */
  .navbar .navbar-container {
    width: 95%;
  }
  .navbar .navbar-container .menu-bar a .logo {
    width: 140px;
  }
}
/* mobile */
@media (max-width: 576px) {
  /* navbar */
  .navbar .navbar-container {
    width: 97%;
  }
  .navbar .navbar-container .menu-bar .navbar-nav {
    top: 55px;
  }
  .navbar .navbar-container .menu-bar a .logo {
    width: 120px;
    padding-top: 7px;
  }
  .navbar .navbar-container .menu-bar .navbar-nav li a,
  button {
    font-size: 12px;
  }
  .navbar .navbar-container .menu-bar .navbar-nav li button i {
    font-size: 12px;
  }
  .navbar .navbar-container .navbar-extra {
    padding-top: 6px;
  }
  .navbar .navbar-container .menu-bar {
    height: 45px;
  }
  .navbar .navbar-container .navbar-extra i {
    font-size: 18px;
  }
}
